<header class="text-center syncopate">
	<div class="col-xs-12 col-md-3">
		<img class="img-responsive logo" src="../../../assets/logo_2D_black.png">
	</div>
	<nav class="col-xs-12 col-md-6">
		<div class="col-xs-4"><a>+ valorados</a></div>
		<div class="col-xs-4"><a>+ comentados</a></div>
		<div class="col-xs-4"><a>+ nuevos</a></div>
	</nav>
	<div class="col-xs-12 col-md-3 register">
		<button type="button" class="btn btn-default">Login</button>
		<button type="button" class="btn btn-default">Registro</button>
	</div>
</header>