@import "../../../assets/_variables";

.menu {
  background-color: $background-header;
  border-bottom: 2px solid $background-border;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  position: static;
  margin: 0px;
  z-index: 1;
  opacity: 0.9;
  .navbar-nav > {
    .active > a {
      background-color: $background-border;
      color: white;
      font-weight: bold;
    }
    li > a {
      font-size: 13px;
      color: white;
      padding: 10px 35px;
      &:hover {
        background-color: $background-border;
        color: $black-color;
      }
    }
  }
}

.navbar-header > a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 5px 30px;
  color: $black-color;
  img{
    height: 40px;
    padding-bottom: 5px;
  }
  &:hover {
    text-decoration: none;
  }
}