@import "../../../assets/_variables";

header{
	min-height: 100px;
	padding: 10px 10px 105px 10px;
  	border-bottom: 1px solid $white-color;
	nav{
	    padding: 50px 0 0 0;
	}
	.register{
		padding: 40px 0 0 0;
	}
}
