/* You can add global styles to this file, and also import other style files */

/* GLOBAL STYLES */

@import "/assets/_variables";
@import url('https://fonts.googleapis.com/css?family=Syncopate');

body {
  background-color: $background-white !important;
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* FUENTE */
.syncopate{
  font-family: 'Syncopate', sans-serif !important;
}