/* IMPORTS */
//TODO: Import icofonts.
@import "/assets/_variables";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

body {
  font-family: 'Alegreya Sans SC', sans-serif !important;
  background-color: #fbfbfb !important;
  /* $background!important; */
  /*  background: url(assets/social-1989152_1920_web.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  width: 100%;
  height: 100vh;
  margin: 0;
  /* FONTS */
  /* BUTTONS */
  article {
    padding-top: 50px;
  }
  .app_box {
    background: #efefef;
    /*$background-publication*/
    border: 2px solid #FFFFFF;
    /*$background-border*/
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  }
  .publication_box {
    width: 100%;
  }
  .syncopate {
    font-family: 'Syncopate', sans-serif;
  }
  .barrio {
    font-family: 'Barrio', cursive;
  }
  .alegreya {
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  .icofont_social {
    color: rgba(88, 165, 15, 0.65);
    /* $background-header */
    font-size: 2em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: 0px 3px;
    &:hover {
      color: black;
      /* $black-color */
    }
  }
  .icofont_social_aternative {
    color: white;
    /*$white-color;*/
    font-size: 2em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: 0px 10px;
    &:hover {
      color: rgba(88, 165, 15, 0.75);
      /* $font-contrast*/
    }
  }
  .font_contrast {
    color: rgba(88, 165, 15, 0.75) !important;
    /* $font-contrast!important */
  }
  .custom_button {
    .active {
      background-color: #FFFFFF;
      /* $background-border */
      color: white;
      /* $white-color */
      font-weight: bold;
    }
    font-size: 13px;
    color: white;
    /*$white-color; */
    padding: 10px 35px;
    &:hover {
      background-color: white !important;
      /*$white-color !important; */
      color: black;
      /* $black-color; */
    }
  }
  .box_signin {
    padding-bottom: 20px;
    form {
      padding: 20px 40px;
    }
  }
  .box_signup form {
    padding: 20px 40px;
  }
  .box_signin {
    .icofont-lock, .icofont-user {
      color: rgba(88, 165, 15, 0.75);
      /*$font-contrast; */
      font-size: 3em;
    }
  }
  .box_signup {
    .icofont-lock, .icofont-user {
      color: rgba(88, 165, 15, 0.75);
      /*$font-contrast; */
      font-size: 3em;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
  }
  .box_signin [type=text], .box_signup [type=text], .box_signin [type=password], .box_signup [type=password] {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1em;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    /*$black-color;*/
  }
  .box_signin [type=submit], .box_signup [type=submit] {
    margin-top: 25px;
    width: 100%;
    border: 0;
    background-color: rgba(88, 165, 15, 0.75);
    /* $font-contrast */
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  .box_signin [type=submit]:disabled, .box_signup [type=submit]:disabled {
    background-color: #d2d2d2;
  }
  .box_signin [type='text']:focus, .box_signup [type='text']:focus, .box_signin [type='password']:focus {
    outline: none;
    border-color: rgba(88, 165, 15, 0.75);
    /* $font-contrast; */
  }
  .box_signup {
    [type='password']:focus {
      outline: none;
      border-color: rgba(88, 165, 15, 0.75);
      /* $font-contrast; */
    }
    [type='text']:disabled, [type='password']:disabled {
      color: #d2d2d2;
      cursor: pointer;
    }
  }
}

input {
  &[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 2px #A6A6A6;
      background: #8BC34A;
      border-radius: 50px;
      border: 2px solid #8BC34A;
    }
    &::-webkit-slider-thumb {
      box-shadow: 1px 1px 2px #A6A6A6;
      border: 2px solid #A6A6A6;
      height: 18px;
      width: 18px;
      border-radius: 50px;
      background: #A6A6A6;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px;
    }
    &:focus::-webkit-slider-runnable-track {
      background: #8BC34A;
    }
    &::-moz-range-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 2px #A6A6A6;
      background: #8BC34A;
      border-radius: 50px;
      border: 2px solid #8BC34A;
    }
    &::-moz-range-thumb {
      box-shadow: 1px 1px 2px #A6A6A6;
      border: 2px solid #A6A6A6;
      height: 18px;
      width: 18px;
      border-radius: 50px;
      background: #A6A6A6;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: #8BC34A;
      border: 2px solid #8BC34A;
      border-radius: 100px;
      box-shadow: 1px 1px 2px #A6A6A6;
    }
    &::-ms-thumb {
      box-shadow: 1px 1px 2px #A6A6A6;
      border: 2px solid #A6A6A6;
      height: 18px;
      width: 18px;
      border-radius: 50px;
      background: #A6A6A6;
      cursor: pointer;
    }
    &:focus {
      &::-ms-fill-lower, &::-ms-fill-upper {
        background: #8BC34A;
      }
    }
  }
  &[type=submit] {
    color: rgba(88, 165, 15, 0.75);
    background-color: #fff;
    border: 1px solid rgba(88, 165, 15, 0.75);
    font-weight: bold;
    padding: 5px 15px;
    margin: 10px 0px;
    display: inline-block;
    &:hover {
      color: #fff;
      background-color: rgba(88, 165, 15, 0.75);
    }
  }
}
