.footer {
  height: auto;
  margin-top: 30px;
  background-color: #3c3c3c;
  .content {
    padding: 20px 0px;
    text-align: center;
    color: white;
  }
  img {
    margin-top: 10px;
    width: 100px;
  }
  ul li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: rgba(88, 165, 15, 0.75);
      }
    }
    &::before {
      content: " - ";
    }
  }
  a {
    text-decoration: none;
  }
}
