<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="content col-xs-8 col-xs-offset-2">
          <img src="http://182.168.99.100:8400/img/logo-2D-color.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content col-xs-8 col-xs-offset-2">
          <a href="#"><i class="icofont icofont_social_aternative icofont-social-twitter"></i></a>
          <a href="#"><i class="icofont icofont_social_aternative icofont-social-facebook"></i></a>
          <a href="#"><i class="icofont icofont_social_aternative icofont-social-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
