<div class="input-group stylish-input-group">
  <input type="text" class="form-control"  placeholder="Añadir tag" [(ngModel)]='nTag'>
  <span class="input-group-addon">
    <button>
        <a (click)="addTag(nTag)" class="active">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </button>
  </span>
</div>

<div class="tag_component">
<div *ngFor="let tag of tags"class="tag_component">
		<a (click)="remTag(tag)" class="active">
            <span class="tag" onclick=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{tag}}</span>
        </a>
</div>
</div>


