@import "../../../assets/_variables";
.glyphicon {
    position: static;
    color: white;
}

.input-group {
    margin: 10px;
}

#logo {
    margin: auto;
}

.jumbotron {
    text-align: center;
    border: 1px;
    border-style: solid
}

#labelRegistro {
    margin-left: 20px;
    margin-top: 20px;
    color: $font_contrast;
    font-size: 25px
}

#containerForm {
    text-align: left
}

#box{
    text-align: center;
    padding:20px;
}

.container {
    padding-top: 5%;
}

span {
    background-color: $font_contrast;
}

#arroba {
    color: white;
}

#enviar {
    margin-top: 15px;
    background-color: $font_contrast;
    border-style: none;
}

/* Small devices (tablets, 768px and up) */

@media (max-width: $screen-sm-min) {
    #labelRegistro {
        margin-left: 20px;
        margin-top: 20px;
        color: $font_contrast;
        font-size: 15px
    }
    
    img{
        width: 70%;
    }
}
