<app-header></app-header>
<article class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" id="menuleft">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
            <div class="app_box" id="boxDesc">
                <img id="imgCabecera" src="https://farm1.staticflickr.com/527/18050905254_bd5018dbe4_z_d.jpg" />
                <p id="descGroup">Fotógrafos de Vallekas</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
            <div class="filter_publication app_box">
                <ul>
                    <li><a href="#" class="active"><i aria-hidden="true" class="icofont icofont-newspaper"></i>Más nuevos</a></li>
                    <li><a href="#"><i aria-hidden="true" class="glyphicon glyphicon-heart-empty"></i>Más valorados</a></li>
                    <li><a href="#"><i aria-hidden="true" class="icofont icofont-comment"></i>Más comentados</a></li>
                </ul>
                <app-search></app-search>
                <app-tag-list></app-tag-list>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 app_box">
        <div id="descGroup">HOLA</div>
    </div>
</article>
