<app-header></app-header>
<article class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" id="menuleft">
    <div class="flex-row row">

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft" id="boxDesc">
          <img id="imgCabecera" src="{{group.img}}" />
          <p class="title">{{group.title}}</p>
          <blockquote><em>{{group.description}}</em></blockquote>
        </div>
      </div>

      <div *ngIf="loginService.isLogged" class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft">
          <a class="title" *ngIf="userBelongs" (click)="leaveGroup()">DEJAR EL GRUPO</a>
          <a class="title" *ngIf="!userBelongs" (click)="joinGroup()">ÚNETE</a>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft">
          <h3>Miembros:</h3>
          <ul>
            <li *ngFor="let member of group.miembroGrupos"><a href="/public-profile/{{member.username}}"><span>{{member.username}}</span></a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="filter_publication app_box">
          <ul>
            <li>
              <a href="#" class="active">
                <i aria-hidden="true" class="icofont icofont-newspaper"></i>
                + nuevos
              </a>
            </li>
            <li>
              <a href="#">
                <i aria-hidden="true" class="glyphicon glyphicon-heart-empty"></i>
                + valorados
              </a>
            </li>
            <li>
              <a href="#">
                <i aria-hidden="true" class="icofont icofont-comment"></i>
                + comentados
              </a>
            </li>
          </ul>
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Añadir tag">
            <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
          <div class="tag_component">
            <span class="tag">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              escultura
            </span>
            <span class="tag">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              fotografía
            </span>
            <span class="tag">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              dibujo
            </span>
          </div>
        </div>
      </div> -->
    </div><!--  row -->
  </div><!--  menuleft -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div id="columns">
      <div *ngFor="let publication of group.publications" class="publication app_box">
        <app-media url="{{publication.media}}" media_type="{{publication.media_type}}"></app-media>
        <p>{{publication.description}}</p>
        <div class="rating">
          <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="rating-value">{{numberOfLikes}}</span></p>
        </div>
      </div>
    </div>
  </div>

</article>
<app-footer></app-footer>
