<app-header></app-header>
<article class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" id="menuleft">
    <div class="flex-row row">

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft" id="boxDesc">
          <img id="imgCabecera" src="{{group.img}}" />
          <p class="title">{{group.title}}</p>
          <blockquote><em>{{group.description}}</em></blockquote>
        </div>
      </div>

      <div *ngIf="loginService.isLogged" class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft">
          <a class="title" *ngIf="userBelongs" (click)="leaveGroup()">DEJAR EL GRUPO</a>
          <a class="title" *ngIf="!userBelongs" (click)="joinGroup()">ÚNETE</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
        <div class="app_box menuleft members">
          <h3>Miembros:</h3>
          <ul>
            <li *ngFor="let member of group.miembroGrupos"><a routerLink="/public-profile/{{member.username}}"><img src="{{member.img}}"/><span>{{member.username}}</span></a></li>
          </ul>
        </div>
      </div>
    </div><!--  row -->
  </div><!--  menuleft -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div id="columns">
          <app-publication-detail *ngFor="let publication of group.publications" [publication]="publication"></app-publication-detail>
    </div>
  </div>

</article>
<app-footer></app-footer>
