<app-header></app-header>
<article class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
		Aside
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 app_box">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 info_publication">
				<p class="title"><strong>{{ publicationInfo.title }}</strong></p>
				<p class="description">{{ publicationInfo.description }}</p>
				<p class="user"><span><strong>@{{publicationInfo.user}}</strong></span></p>
				<app-tag-list></app-tag-list>
				<div class="share_publication">
					<span>Comparte esta publicación: </span>
					<a href="#"><i class="icofont icofont_social icofont-social-twitter"></i></a>
					<a href="#"><i class="icofont icofont_social icofont-social-facebook"></i></a>
					<a href="#"><i class="icofont icofont_social icofont-social-google-plus"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 publication">
				<img class="col-xs-12" src="{{ publicationInfo.url }}">
			</div>
		</div>
	</div>
	<app-comments></app-comments>
</article>