@import "../../../assets/_variables";

.user_wrapper{ 
  padding: 10px;
  img{
    max-width: 300px;
  }
  .user{
    font-size: 1.5em;
    a{
      color: $black-color-soft;
      text-decoration: none;
    }
  }
  .share_publication{
    width: 100%;
    font-size: 0.8em;
    margin: 10px 10px;
    padding: 10px;
    display: inline-block;
    border-top: 1px solid $background-header;
    a{
      text-decoration: none;
    }
  }
}

.publication_wrapper{
  padding: 20px;
  .title{
    font-size: 2em;
  }
  .description{
    font-size: 1em;
    margin: 20px 10px;
  }
  p{
    margin: 5px 10px;
  }
  img{
    margin: 0 auto;
  }
  app-tag-list{
    text-align: center;
  }
}
