@import "../../../assets/_variables";

.info_publication{
  padding: 20px;
  .title{
    font-size: 1.2em;
  }
  .description{
    margin: 20px 10px;
  }
  .user{
    a{
      color: $black-color;
      text-decoration: none;
    }
  }
  .share_publication{
    font-size: 0.8em;
    margin: 20px 10px;
    padding: 10px;
    display: inline-block;
    border-top: 1px solid $background-header;
    a{
      text-decoration: none;
    }
  }
  p{
    margin: 5px 10px;
  }
}

.publication{
  img{
    padding: 15px;
  }
}