<header><script type="text/javascript" src="./upload.js"></script></header>
<app-header></app-header>

 <div class="container-fluid">

     <h1 class="alegreya">Let's Upload!</h1>

     <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

         <h2 class="alegreya">Información básica.</h2>
	   <form class="form-horizontal"  >
             <div class="form-group">
                 <label for="inputTitle" class="col-sm-2 control-label">Título</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control" #inputTitle name="titulo" placeholder="Título">
                 </div>
             </div>

             <div class="form-group">
                 <label for="inputDescription" class="col-sm-2 control-label">Descripción</label>
                 <div class="col-sm-10">
                     <textarea class="form-control" #inputDescription name="descripcion" placeholder="Descripción"></textarea>
                 </div>
             </div>

             <div class="form-group">
                 <label for="inputDescription" class="col-sm-2 control-label">Etiquetas</label>
                 <div class="col-sm-10">
                     <textarea class="form-control" #inputTags name="etiquetas" placeholder="Palabras clave de tu obra: ¡una por línea!"></textarea>
                 </div>
             </div>

             <div class="form-group">
                 <label for="inputTitle" class="col-sm-2 control-label">¿Dónde lo quieres publicar?</label>
                 <div class="col-sm-10">
                   <select (change)="changeGroup($event)"  name="idGroup">
                     <option value="0"> Público</option>
                     <option [value]="group.id"  *ngFor="let group of groups"> {{group.title}}</option>
                     </select>
                 </div>
             </div>
           

             <div class="form-group" >
                 <label for="inputTitle" class="col-sm-2 control-label">Tipo de publicación</label>
                 <div class="col-sm-10">
                     <input type="radio" [(ngModel)]="typeFile.optionsRadios"  #optionsRadios name="optionsRadios" id="optionsRadios1" value="img" (click)="showHide('img')" checked> Imagen
                     <input type="radio" [(ngModel)]="typeFile.optionsRadios" #optionsRadios name="optionsRadios"  id="optionsRadios2" value="audio" (click)="showHide('audio')"> Audio
                     <input type="radio" [(ngModel)]="typeFile.optionsRadios" #optionsRadios name="optionsRadios"  id="optionsRadios3" value="video" (click)="showHide('video')"> Video
                 </div>
             </div>

             <div class="form-group" id="groupImagen">
                 <label for="inputFile" class="col-sm-2 control-label">Archivo</label>
                 <div class="col-sm-10">
                     <input type="file" name="file" id="inputFile" class="file" accept="image/*" (change)="readURL($event.target)" />
                 </div>
             </div>

            <div class="form-group" id="groupAudio" style="display:none">
            <label for="inputFile" class="col-sm-2 control-label">URL</label>
                 <div class="col-sm-10">
           <div class="input-group">
             <span class="input-group-addon" id="basic-addon3">https://soundcloud.com/</span>
             <input type="text" name="audio" #inputAudio class="form-control" id="txtAudio" aria-describedby="basic-addon3" placeholder="usuario/cancion">
           </div>
                 </div>
             </div>

             <div class="form-group" id="groupVideo" style="display:none">
              <label for="inputFile" class="col-sm-2 control-label">URL</label>
                 <div class="col-sm-10">
           <div class="input-group">
             <span class="input-group-addon" id="basic-addon3">https://www.youtube.com/watch?v=</span>
             <input type="text" name="video" #inputVideo class="form-control" id="txtVideo" aria-describedby="basic-addon3" placeholder="v1D30Id">
           </div>
                 </div>
             </div>



             <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                     <button type="submit" class="btn btn-default" (click)='addPublication($event, inputTitle.value, inputDescription.value, inputTags.value, inputAudio.value, inputVideo.value, inputGroup)'>Enviar</button>
                 </div>
             </div>

           </form>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="divRetoques" *ngIf="typeFile.optionsRadios == 'img'">

         <h2 class="alegreya">Editor de imágenes.</h2>

         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <label for="blur">Blur</label>
       <div class="input-group col-xs-10">
          <input name="blur" id="blur" type="range" min="0" max="100" value="0" #blur (change)="setRange('blur', blur.value)"/>
          <div class="input-group-btn">
             <span class="filter_value">{{blur.value}}</span>
            </div>
       </div>

       <label for="brightness">Brightness</label>
       <div class="input-group col-xs-10">
           <input name="brightness" id="brightness" type="range" min="0" max="10" step="0.1" value="1" #brightness (change)="setRange('brightness', brightness.value)" />
           <div class="input-group-btn">
                 <span class="filter_value">{{brightness.value}}</span>
            </div>
       </div>

       <label for="contrast">Contrast</label>
       <div class="input-group col-xs-10">
             <input name="contrast" id="contrast" type="range" min="0" max="10" step="0.1" value="1" #contrast (change)="setRange('contrast', contrast.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{contrast.value}}</span>
            </div>
       </div>

       <label for="grayscale">Grayscale</label>
       <div class="input-group col-xs-10">
             <input name="grayscale" id="grayscale" type="range" min="0" max="1" step="0.01" value="0" #grayscale (change)="setRange('grayscale', grayscale.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{grayscale.value}}</span>
            </div>
       </div>

       <label for="hue-rotate">Huerotate</label>
       <div class="input-group col-xs-10">
             <input name="hue-rotate" id="hue-rotate" type="range" min="0" max="360" value="0" #huerotate (change)="setRange('hue-rotate', huerotate.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{huerotate.value}}</span>
            </div>
       </div>

       <label for="invert">Invert</label>
       <div class="input-group col-xs-10">
             <input name="invert" id="invert" type="range" min="0" max="1" step="0.01" value="0" #invert (change)="setRange('invert', invert.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{invert.value}}</span>
            </div>
       </div>

       <label for="opacity">Opacity</label>
       <div class="input-group col-xs-10">
             <input name="opacity" id="opacity" type="range" min="0" max="100" value="100" #opacity (change)="setRange('opacity', opacity.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{opacity.value}}</span>
            </div>
       </div>

       <label for="saturate">Saturate</label>
       <div class="input-group col-xs-10">
             <input name="saturate" id="saturate" type="range" min="0" max="10" step="0.1" value="1" #saturate (change)="setRange('saturate', saturate.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{saturate.value}}</span>
            </div>
       </div>

       <label for="sepia">Sepia</label>
       <div class="input-group col-xs-10">
             <input name="sepia" id="sepia" type="range" min="0" max="1" step="0.01" value="0" #sepia (change)="setRange('sepia', sepia.value)" />
             <div class="input-group-btn">
             <span class="filter_value">{{sepia.value}}</span>
            </div>
       </div>

         </div>

     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img id="image" src="#" alt="image" class="col-xs-12" />
         </div>

       </div>

     </div>

 </div>
<app-footer></app-footer>
