<div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="box_login_singup app_box">
          <i class="icofont icofont-lock"></i>
          <form>
            <input type='text' placeholder='Usuario:'/>
            <input type='text' placeholder='Contraseña:'/>
            <input type='submit' placeholder='SUBMIT'/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
