@import "../../../assets/_variables";

.overlay {
  display: none;
  position: fixed;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, .85);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  .box_login{
    display: none;
    background-color: $white-color;
    text-align: center;
    padding: 20px 15px;
  }
  .box_singup{
    display: none;
    background-color: $white-color;
    text-align: center;
    padding: 20px 15px;
  }
}
