@import "../../../assets/_variables";

.user_profile{
	padding: 10px;
	img{
		max-width: 300px;
		margin: 0 0 10px;
	}
	h1{
		font-size: 2em;
		margin: 0 0 5px 0;
		font-weight: bold;
	}
	h2{
		font-size: 1.5em;
		margin: 0 0 5px 0;

	}
	blockquote{
		font-size: 1em;
	}
	.social_nets{
		font-size: 1em !important;
		i{
			cursor: pointer;
			display: inline-block;
			margin-left: 25px;
		}
	}
	.public_button{
		text-align: center;
		margin: 30px 0 0;
		a{
			background-color: $white-color;
			border: 1px solid rgba(88, 165, 15, 0.65);
			color: $black-color-soft;
			&:hover{
				background-color: rgba(88, 165, 15, 0.65) !important;
				color: $white-color;
			}
		}
	}
	.publication{
		display: inline-block;
		padding: 5px;
		margin: 5px;
		img{
			max-height: 300px;
		}
	}
	.user_info{
		margin: 0 0 10px 0;
	}

	.edit-icon{
		cursor: pointer;
		i{
			opacity: 0;
			-webkit-transition: all .5s ease;
		  -moz-transition: all .5s ease;
		  -o-transition: all .5s ease;
		  transition: all .5s ease;
		}
		&:hover{
			color: $black-color-transparent;
			i{
				color: $black-color-soft;
				opacity: 1;
				-webkit-transition: all .5s ease;
			  -moz-transition: all .5s ease;
			  -o-transition: all .5s ease;
			  transition: all .5s ease;
			}
		}
	}
	.edit-img{
		cursor: pointer;
		position: relative;
		width: 300px;
		.veil{
			position: absolute;
			bottom: 10px;
			right: 10px;
			opacity: 0;
			-webkit-transition: all .5s ease;
		  -moz-transition: all .5s ease;
		  -o-transition: all .5s ease;
		  transition: all .5s ease;
		  font-size: 2em;
		}
		&:hover{
			color: $black-color-transparent;
			.veil{
				color: $black-color-soft;
				opacity: 1;
				-webkit-transition: all .5s ease;
			  -moz-transition: all .5s ease;
			  -o-transition: all .5s ease;
			  transition: all .5s ease;
			}
			img{
		  	opacity: 0.5;
				-webkit-transition: all .5s ease;
			  -moz-transition: all .5s ease;
			  -o-transition: all .5s ease;
			  transition: all .5s ease;
			 }
		}
	}
	.edit-gallery{
		cursor: pointer;
		position: relative;
		.veil{
			position: absolute;
			bottom: 10px;
			right: 10px;
			opacity: 0;
			-webkit-transition: all .5s ease;
		  -moz-transition: all .5s ease;
		  -o-transition: all .5s ease;
		  transition: all .5s ease;
		  font-size: 2em;
		}
		&:hover{
			color: $black-color-transparent;
			.veil{
				color: $black-color-soft;
				opacity: 1;
				-webkit-transition: all .5s ease;
			  -moz-transition: all .5s ease;
			  -o-transition: all .5s ease;
			  transition: all .5s ease;
			}
			img{
		  	opacity: 0.5;
				-webkit-transition: all .5s ease;
			  -moz-transition: all .5s ease;
			  -o-transition: all .5s ease;
			  transition: all .5s ease;
			 }
		}
	}
}