<app-header></app-header>
<article class="container-fluid">
	<div *ngFor="let info of userInfoMock" class="col-xs-12 app_box user_info">
				<div class="col-xs-12 col-md-4">
					<div class="row">
						<img class="img-responsive" src="{{ info.avatar }}">
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h1>{{ info.name }} {{ info.surname }}</h1>
							<h2><em>{{ info.nickname }}</em></h2>  			
			  				<blockquote><em>{{ info.aboutme }}</em></blockquote>
		  				</div>
		  				<!-- <div *ngFor="let red_social of info.redes" class="col-xs-12 social_nets">
		  					<img src="{{ red_social.url }}">
		  				</div> -->
		  			</div>
				</div>
				<div class="col-xs-12 col-md-8">
	  				<div class="col-xs-12">
	  					<div class="profile_gallery app_box" *ngFor="let galeria of userGalleryMock">
	  						<img src="{{ galeria.url }}">
	  					</div>
	  				</div>
	  			</div>
		</div>
</article>
