<app-header></app-header>
<article class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 filter_publication app_box">
        <ul>
            <li><a href="#" class="active"><i aria-hidden="true" class="icofont icofont-newspaper"></i>+ nuevos</a></li>
            <li><a href="#"><i aria-hidden="true" class="glyphicon glyphicon-heart-empty"></i>+ valorados</a></li>
            <li><a href="#"><i aria-hidden="true" class="icofont icofont-comment"></i>+ comentados</a></li>
        </ul>
        <app-search></app-search>
        <app-tag-list></app-tag-list>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <div id="columns">
            <div *ngFor="let publication of publicationsMock" class="publication app_box">
                <img src="{{ publication.img }}" />
                <p>
                    {{ publication.text }}
                </p>
                <div class="rating">
                    <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="rating-value">5</span></p>
                </div>
                <app-tag-list></app-tag-list>
            </div>
        </div>
    </div>
</article>