<app-header></app-header>
<article class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="wrapper">
        <div id="columns">
          <div *ngFor="let publication of publicationsMock" class="publication">
            <img src="{{ publication.img }}" />
            <p>
              {{ publication.text }}
            </p>
            <div class="rating">
              <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="rating-value">5</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>