@CHARSET "UTF-8";

@import "../../../assets/_variables";

article {
  .filter_publication {
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    ul {
      padding: 10px;
      list-style: none;
      li {
        padding: 10px 5px;
        a {
          text-decoration: none;
          padding: 5px 10px;
          color: black;
          /*$black-color;*/
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -o-transition: all .2s ease;
          transition: all .2s ease;
          &:hover {
            color: rgba(88, 165, 15, 0.65);
            /*$background-header;*/
          }
          &.active {
            background-color: rgba(88, 165, 15, 0.65);
            /*$background-header;*/
            color: black;
            /*$black-color;*/
          }
          i {
            margin-right: 7px;
          }
        }
      }
    }
  }
  #columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    margin-bottom: 100px;
    background-color: #fbfbfb;
    .comments {
      display: inline-block;
      font-size: 1.3em;
      margin-left: 10px;
      color: $black-color-soft;
    }
    .rating {
      display: inline-block;
      font-size: 1.3em;
      a {
        display: inline;
        cursor: pointer;
        text-decoration: none;
        color: $black-color-soft;
        .rating-value {
          padding: 0px 5px;
        }
      }
    }
    .numComments {
      padding: 0px 5px;
    }
    .rating a {
      &:hover .like_icon, .like_icon.added {
        color: red;
      }
    }
  }
  .publication {
    display: inline-block;
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    position: relative;
    min-height: 500px;
    img {
      width: 100%;
      border-bottom: 1px solid #FFFFFF;
      /*$background-border;*/
      padding-bottom: 15px;
      margin-bottom: 5px;
    }
    p {
      color: black;
      /*$black-color;*/
      margin: 0;
      padding: 15px 5px;
    }
  }
  #columns:hover .publication:not(:hover) {
    opacity: 0.4;
  }
  .tagForm {
    display: inline-block;
  }
  .divDate {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: $black-color-soft;
  }
  .iframeAudio {
    width: 100%;
    height: 166px;
  }
  .iframeVideo {
    width: 100%;
    height: 315px;
  }
}

.load_more {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #58a50f;
  line-height: 0.1em;
  margin: 30px 0px;
  span {
    font-size: 1.5em;
    cursor: pointer;
    padding: 0 10px;
    background-color: #fbfbfb !important;
    &:hover {
      color: #58a50f;
    }
  }
    
    .filter{
    cursor: pointer;
}
}

.filter{
    cursor: pointer;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* $screen-sm-min*/
  article #columns {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*$screen-md-min*/
  article #columns {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*$screen-lg-min*/
  article #columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}