<app-header></app-header>
<article class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 filter_publication app_box">
    <ul>
      <li><a routerLink="" [queryParams]="{filter: 'latest', tags: tags}" class="active"><i aria-hidden="true" class="icofont icofont-newspaper"></i>+ nuevos</a></li>
      <li><a routerLink="/" [queryParams]="{filter: 'likes', tags: tags}"><i aria-hidden="true" class="glyphicon glyphicon-heart-empty"></i>+ valorados</a></li>
      <li><a routerLink="/" [queryParams]="{filter: 'comments', tags: tags}"><i aria-hidden="true" class="icofont icofont-comment"></i>+ comentados</a></li>
    </ul>
    <app-search [tags]="tags" [filter]="filter"></app-search>
    <!--<app-tag-list></app-tag-list>-->
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div id="columns">
      <div *ngFor="let publication of publications" class="publication app_box publication_box">
        <a routerLink="/publication/{{ publication.id }}">
            <app-media url="{{publication.media}}" media_type="{{publication.media_type}}"></app-media>
          <p>{{ publication.title }}</p>
          <div class="rating">
            <a href="#">
              <span class="glyphicon glyphicon-heart-empty like_icon" aria-hidden="true" id="{{ publication.id }}"></span>
              <span class="rating-value">{{ publication.numberOfLikes }}</span>
            </a>
          </div>
          <div class="comments">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="numComments">{{ publication.numberOfComments }}</span>
          </div>
          <div class="tag_component">
            <app-tag-list [tags]="publication.tags"> </app-tag-list> 

          </div>
          <div class="divDate">
            {{ publication.stringDate }}
          </div>
        </a>
        <!--<script>checkMyLike({{id}})</script>-->
      </div>
    </div>
  </div>
</article>
