/* VARIABLES */

// As hex codes */

$color-primary-0: #008585;	// Main Primary color */
$color-primary-1: #37A5A5;
$color-primary-2: #179898;
$color-primary-3: #006C6C;
$color-primary-4: #005353;



// As RGBa codes */

$rgba-primary-0: rgba(  0,133,133,1);	// Main Primary color */
$rgba-primary-1: rgba( 55,165,165,1);
$rgba-primary-2: rgba( 23,152,152,1);
$rgba-primary-3: rgba(  0,108,108,1);
$rgba-primary-4: rgba(  0, 83, 83,1);

// Colors

$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$background-white: #f8f8ff;
$background-black: #333333;


$background-header: #BBBBBB;
$background: #fbfbfb;
$background-publication: #efefef;
$background-border: #FFFFFF;


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;