<app-header></app-header>
<article class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 app_box user_info">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="{{img}}">
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="col-xs-12">
							<h1>name</h1>
							<h2><em>@username</em></h2>
			  				<blockquote><em>description</em></blockquote>
		  				</div>
		  				<div class="col-xs-12 social_nets">
		  					<i class="icofont icofont_social icofont-social-500px"></i>
		  					<i class="icofont icofont_social icofont-social-facebook"></i>
		  					<i class="icofont icofont_social icofont-social-twitter"></i>
		  					<i class="icofont icofont_social icofont-social-instagram"></i>
		  					<i class="icofont icofont_social icofont-social-linkedin"></i>
		  				</div>
		  				<!-- {{^guest}}
		  				<div class="follow">
		  					{{^hasFollower}}
		  					<a href="/follow/{{id}}">SEGUIR</a>
		  					{{/hasFollower}}

		  					{{#hasFollower}}
		  					<a href="/unfollow/{{id}}">DEJAR DE SEGUIR</a>
		  					{{/hasFollower}}
		  				</div>
		  				{{/guest}} -->
		  			</div>

			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 app_box user_publications">
				<h2>Últimas Publicaciones</h2>
				<!-- <div id="publicationWrapper">
					{{#user_publications}}
						{{> userPublicationItem}}
					{{/user_publications}}
				</div>
			{{#showMore}}
			<div class="load_more">
				<span>Cargar más publicaciones</span>
			</div>
			{{/showMore}} -->
			</div>
		</div>

		<!-- Gallery -->
		<div class="row" id="columns">
		<!-- {{#gallery}}
			<div class="app_box publication">{{{media}}}</div>
		{{/gallery}} -->
		</div>
		<!-- {{> comments_component}} -->
</article>
<app-footer></app-footer>
