<div class="container syncopate">
    <div class="app_box" id="box">
        <img src="/assets/logo_2D_white.png" width=50% id="logo" />
        <div id="containerForm">
            <p id="labelEntrar"><b>Entrar a Boart</b></p>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user white" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Nombre de usuario" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-asterisk white" id="basic-addon1"></span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
            </div>
        </div>
        <p><a class="btn btn-primary btn-lg" id="enviar" href="#" role="button">Enviar</a></p>
    </div>
</div>
