@import "../../../assets/_variables";

.container {
  padding-top: 5%;
  #box {
    text-align: center;
    padding: 20px;
    #logo {
      margin: auto;
      width: 50%;
    }
    #containerForm {
      text-align: left;
      #labelEntrar {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 25px;
      }
      .input-group {
        margin: 10px;
        span {
          background-color: $font_contrast;
        }
      }
    }
    #enviar {
      margin-top: 15px;
      background-color: $font_contrast;
      border-style: none;
    }
  }
}

.glyphicon {
    position: static;
    color: white;
}

.jumbotron {
    text-align: center;
    border: 1px;
    border-style: solid;
}

/* Small devices (tablets, 768px and up) */

@media (max-width: $screen-sm-min) {
    #labelEntrar {
        margin-left: 20px;
        margin-top: 20px;
        color: $font_contrast;
        font-size: 15px
    }
    
    img{
        width: 70%;
    }
}
