@CHARSET "UTF-8";

.footer {
  height: auto;
  margin-top: 30px;
  background-color: #3c3c3c;
}
.footer .content {
  padding: 20px 0px;
  text-align: center;
  color: white;
}
.footer img {
  margin-top: 10px;
  width: 100px;
}
.footer ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li a:hover {
  color: rgba(88, 165, 15, 0.75);
}
.footer ul li::before {
  content: " - ";
}
.footer a {
  text-decoration: none;
}
