@CHARSET "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");

/* DIVS */
body {
  font-family: 'Alegreya Sans SC', sans-serif !important;
  background-color: #fbfbfb !important;
  /* $background!important; */
  /*  background: url(assets/social-1989152_1920_web.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  width: 100%;
  height: 100vh;
  margin: 0;
  /* FONTS */
  /* BUTTONS */
}
body article {
  padding-top: 50px;
}
body .app_box {
  background: #efefef;
  /*$background-publication*/
  border: 2px solid #FFFFFF;
  /*$background-border*/
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
body .syncopate {
  font-family: 'Syncopate', sans-serif;
}
body .barrio {
  font-family: 'Barrio', cursive;
}
body .alegreya {
  font-family: 'Alegreya Sans SC', sans-serif;
}
body .icofont_social {
  color: rgba(88, 165, 15, 0.65);
  /* $background-header */
  font-size: 2em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  padding: 0px 3px;
}
body .icofont_social:hover {
  color: black;
  /* $black-color */
}
body .icofont_social_aternative {
  color: white;
  /*$white-color;*/
  font-size: 2em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  padding: 0px 10px;
}
body .icofont_social_aternative:hover {
  color: rgba(88, 165, 15, 0.75);
  /* $font-contrast*/
}
body .font_contrast {
  color: rgba(88, 165, 15, 0.75) !important;
  /* $font-contrast!important */
}
body .custom_button .active {
  background-color: #FFFFFF;
  /* $background-border */
  color: white;
  /* $white-color */
  font-weight: bold;
}
body .custom_button {
  font-size: 13px;
  color: white;
  /*$white-color; */
  padding: 10px 35px;
}
body .custom_button:hover {
  background-color: white !important;
  /*$white-color !important; */
  color: black;
  /* $black-color; */
}
body .box_signin .icofont-lock, body .box_signin .icofont-user, body .box_signup .icofont-lock, body .box_signup .icofont-user {
  color: rgba(88, 165, 15, 0.75);
  /*$font-contrast; */
  font-size: 3em;
}
body .box_signin [type=text], body .box_signup [type=text] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
  /*$black-color;*/
}
body .box_signin [type=submit], body .box_signup [type=submit] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: rgba(88, 165, 15, 0.75);
  /* $font-contrast */
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
body .box_signin [type='text']:focus, body .box_signup [type='text']:focus {
  outline: none;
  border-color: rgba(88, 165, 15, 0.75);
  /* $font-contrast; */
}
