@CHARSET "UTF-8";
@import url("globals.css");
@import url("header.css");
@import url("footer.css");
@import url("tag-list.css");

.user_wrapper {
  padding: 10px;
}
.user_wrapper img {
  max-width: 300px;
}
.user_wrapper .user {
  font-size: 1.5em;
}
.user_wrapper .user a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.user_wrapper .share_publication {
  width: 100%;
  font-size: 0.8em;
  margin: 10px 10px;
  padding: 10px;
  display: inline-block;
  border-top: 1px solid rgba(88, 165, 15, 0.65);
}
.user_wrapper .share_publication a {
  text-decoration: none;
}

.publication_wrapper {
  padding: 20px;
}
.publication_wrapper .title {
  font-size: 2em;
}
.publication_wrapper .description {
  font-size: 1em;
  margin: 20px 10px;
}
.publication_wrapper p {
  margin: 5px 10px;
}
.publication_wrapper img {
  margin: 0 auto;
}
.publication_wrapper app-tag-list {
  text-align: center;
}
.iframeAudio {
	width: 100%;
	height: 166px;
}

.iframeVideo {
	width: 100%;
	max-width: 750px;
	height: 450px;
	margin:auto;
	display:block;
}

.tagForm{
	display: inline-block;
}