@CHARSET "UTF-8";
@import url("globals.css");
@import url("header.css");
@import url("search.css");
@import url("tag-list.css");
@import url("footer.css");
@import url("comments.css");

.user_publications, .user_info {
  margin-left: 10px;
}

.user_info {
  padding: 10px;
  margin-bottom: 10px;
}
.user_info img {
  max-width: 150px;
  margin: 10px auto;
}
.user_info h1 {
  font-size: 1.3em;
  margin: 0 0 5px 0;
  font-weight: bold;
}
.user_info h2 {
  font-size: 1em;
  margin: 0 0 5px 0;
}
.user_info blockquote {
  font-size: 1em;
  margin: 5px;
}
.user_info .social_nets {
  font-size: 1em !important;
}
.user_info .social_nets i {
  display: inline-block;
  margin-left: 25px;
}

.user_publications {
  padding: 0 10px 10px 10px;
  height: 200px;
  overflow: auto;
}
.user_publications h2{
	margin: 10px 0 5px 0;
	font-size: 1.5em;
}
.user_publications .title {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 0;  	
}
.user_publications .description {
  font-size: 0.8em;
  text-indent: 5px;
}
.user_publications p {
  margin: 0 0 3px 0;
}
.user_publications span {
  margin: 0 5px 0 0;
}

.publication {
  display: inline-block;
  margin: 0 2px 15px;
  padding: 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.publication img {
  width: 100%;
}

#columns {
  margin-top: 10px;
  padding: 10px;
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 1;
  column-gap: 15px;
  column-fill: auto;
}

#columns:hover .publication:not(:hover) {
  opacity: 0.4;
}

.load_more {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #58a50f; 
   line-height: 0.1em;
   margin: 20px 0px; 
}

.load_more span {
	font-size: 1.1em;
	cursor: pointer;
	padding:0 10px; 
	background-color: #fbfbfb !important;
}

.load_more span:hover {
	color: #58a50f;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  article #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  article #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}