<div class="comments_container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app_box comments_box">
		{{#comments}}
            <div class="comment">
                <p><span class="font_contrast"><strong>@{{user.username}}</strong>: </span><span>{{text}}</span></p>
            </div>
     	{{/comments}}
     	{{^comments}}
     	<p class="font_contrast">Sé el primero en escribir un comentario</p>
     	{{/comments}}
        {{#sesion_usuario}}
            <div class="form-group">
            	<form action="/addComment/{{reference}}" method="post">
                	<textarea class="col-xs-8" placeholder="Comentario" name="text"></textarea>
                	<input type="hidden" name="idLocation" value="{{IDLocation}}" />
           			<input type="hidden" name="_csrf" value="{{token}}" />
                	<input type="submit" />
                </form>
            </div>
        {{/sesion_usuario}}
        </div>
    </div>
