<div class="comments_container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app_box comments_box">
        {{#comments}}
            <div class="comment">
                <p><span class="font_contrast"><strong>@{{user.username}}</strong>: </span><span>{{text}}</span></p>
            </div>
        {{/comments}}
            <form>
                <div class="form-group">
                    <textarea placeholder="Comentario"></textarea>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>