{{#comments}}
<div class="comments_container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app_box comments_box">

            <div class="comment">
                <p><span class="font_contrast"><strong>@{{user.username}}</strong>: </span><span>{{text}}</span></p>
            </div>
     
        {{#sesion_usuario}}
            <div class="form-group">
            	<form action="./addComment/{{reference}}" method="post">
                	<textarea placeholder="Comentario" name="text"></textarea>
                	<input type="hidden" name="id" value="{{id}}" />
                	<input type="submit" />
                </form>
            </div>
        {{/sesion_usuario}}
        </div>
    </div>
{{/comments}}