<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOART - Grupo</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/globals.css">
<link rel="stylesheet" href="../static/css/header.css">
<link rel="stylesheet" href="../static/css/search.css">
<link rel="stylesheet" href="../static/css/tag-list.css">
<link rel="stylesheet" href="../static/css/portada.css">
<link rel="stylesheet" href="../static/css/grupo.css">
</head>
<body>
	<div class="menu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#"><img
					src="../static/img/logo_2D_white_shadow_bold.png"></a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="custom_button alegreya" href="#"
						><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a class="custom_button alegreya" href="#"
						><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</div>
<article class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" id="menuleft">
        <div class="flex-row row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
                <div class="app_box menuleft" id="boxDesc">
                    <img id="imgCabecera" src="https://farm1.staticflickr.com/527/18050905254_bd5018dbe4_z_d.jpg" />
                    <p class="title">Fotógrafos de Vallekas</p>                          
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
                <div class="app_box menuleft">
                    <p class="title">MIEMBROS</p>
                    <div class="">
                        <div class="panel-body miembro">
                            <a class="username" href="/profile"><strong>@PabloIglesias</strong></a>
                        </div>
                    </div>
                    <div class="">
                        <div class="panel-body miembro">
                            <a class="username" href="/profile"><strong>@perrorojo</strong></a>
                        </div>
                    </div>
                    <div id="vermas">
                        <a href="#">Ver todos</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12" style="padding:0px">
                <div class="filter_publication app_box">
                    <ul>
                        <li><a href="#" class="active"><i aria-hidden="true" class="icofont icofont-newspaper"></i>Más nuevos</a></li>
                        <li><a href="#"><i aria-hidden="true" class="glyphicon glyphicon-heart-empty"></i>Más valorados</a></li>
                        <li><a href="#"><i aria-hidden="true" class="icofont icofont-comment"></i>Más comentados</a></li>
                    </ul>
                    <app-search></app-search>
                    <app-tag-list></app-tag-list>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <div id="columns">
            <div *ngFor="let publication of publicationsMock" class="publication app_box">
                <img src="{{ publication.img }}" />
                <p>
                    {{ publication.text }}
                </p>
                <div class="rating">
                    <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="rating-value">5</span></p>
                </div>
                <app-tag-list></app-tag-list>
            </div>
        </div>
    </div>
</article>
</body>
</html>