<link rel="stylesheet" href="../css/sign_modal.css">
{{> sign_modal}}
<div class="menu">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#"><img
				src="../static/img/logo_2D_white_shadow_bold.png"></a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="custom_button alegreya" id="sing_up" href="#"
					><span
						class="glyphicon glyphicon-user"></span>FUNCA! Sign Up</a></li>
				<li><a class="custom_button alegreya" id="sing_in" href="#"
					><span
						class="glyphicon glyphicon-log-in"></span>{{#sesion_usuario}} {{nombre}} {{/sesion_usuario}}Login</a></li>
			</ul>
		</div>
	</div>
</div>
