
{{> sign_modal}}
<div class="menu">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/"><img
				src="../img/logo_2D_white_shadow_bold.png"></a>
		</div>
		<div>
			{{#sesion_usuario}}
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="custom_button alegreya" id="sign_in" href="#">
							<i class="icofont icofont-ui-user"></i> {{username}}
						</a>
					</li>
					<li>
						<a class="custom_button alegreya" href="/logout">
							<i class="icofont icofont-ui-unlock"></i> Logout
						</a>
					</li>
				</ul>
			{{/sesion_usuario}}
			{{^sesion_usuario}} 
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="custom_button alegreya" id="sing_up" href="#">
							<i class="icofont icofont-ui-user"></i>Sign Up
						</a>
					</li>
					<li>
						<a class="custom_button alegreya" id="sing_in" href="#">
							<i class="icofont icofont-ui-lock"></i> Login 
						</a>
					</li>
				</ul>
			{{/sesion_usuario}}
		</div>
	</div>
</div>
