<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOART - Portada</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/mainFront.css">
<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	{{> header_component}}
	<article class="container-fluid">
		<div
			class="col-xs-12 col-sm-12 col-md-12 col-lg-2 filter_publication app_box">
			<ul>
				<li><a href="#" class="active"><i aria-hidden="true"
						class="icofont icofont-newspaper"></i>+ nuevos</a></li>
				<li><a href="#"><i aria-hidden="true"
						class="glyphicon glyphicon-heart-empty"></i>+ valorados</a></li>
				<li><a href="#"><i aria-hidden="true"
						class="icofont icofont-comment"></i>+ comentados</a></li>
			</ul>
			<form method="POST">
			    <input type="hidden" name="_csrf" value="{{token}}" />
			    <input type="hidden" name="type" value="addTag" />			 
				<div class="input-group stylish-input-group">
					<input type="text" class="form-control" placeholder="Añadir tag"
						name="nTag"> {{#sTags}} <input type="hidden" name="tags"
						value="{{.}}"> {{/sTags}} <span
						class="input-group-addon">
						<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
			<div class="tag_component">
				{{#sTags}}
					<form method="POST" name="{{.}}Form">					
						<input type="hidden" name="nTag" value="{{.}}">
						<input type="hidden" name="_csrf" value="{{token}}" />
			   			<input type="hidden" name="type" value="remTag" />
			   			{{#sTags}} <input type="hidden" name="tags"	value="{{.}}">{{/sTags}} 
						<span class="tag" onclick="{{.}}Form.submit()"><span	class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{.}}</span>	
					</form>				
				{{/sTags}}
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
			<div id="columns">
				{{#publicaciones}}
				
				<a href="/publication/{{id}}">
					<div class="publication app_box">
						<img src="{{ media }}" />
						<p>{{ description }}</p>
						<div class="rating">
							<a href="">
								<span class="glyphicon glyphicon-heart-empty like_icon"
									aria-hidden="true"></span><span class="rating-value">{{ numberOfLikes }}</span>
							</a>
						</div>
						<div class="tag_component">
							{{#tags}} <span class="tag">{{tag}}</span> {{/tags}}
						</div>
					</div>
				</a>
				{{/publicaciones}}
			</div>
		</div>
	</article>
</body>
</html>