<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOART - Portada</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/portada.css">
</head>
<body>
	{{> header_component}}
	<article class="container-fluid">
		<div
			class="col-xs-12 col-sm-12 col-md-12 col-lg-2 filter_publication app_box">
			<ul>
				<li><a href="#" class="active"><i aria-hidden="true"
						class="icofont icofont-newspaper"></i>+ nuevos</a></li>
				<li><a href="#"><i aria-hidden="true"
						class="glyphicon glyphicon-heart-empty"></i>+ valorados</a></li>
				<li><a href="#"><i aria-hidden="true"
						class="icofont icofont-comment"></i>+ comentados</a></li>
			</ul>
			<div class="input-group stylish-input-group">
				<input type="text" class="form-control" placeholder="Añadir tag">
				<span class="input-group-addon">
					<button type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
			<div class="tag_component">
				<span class="tag"><span class="glyphicon glyphicon-remove"
					aria-hidden="true"></span>escultura</span> <span class="tag"><span
					class="glyphicon glyphicon-remove" aria-hidden="true"></span>fotografía</span>
				<span class="tag"><span class="glyphicon glyphicon-remove"
					aria-hidden="true"></span>dibujo</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
			<div id="columns">
			{{#publicaciones}}
				<div
					class="publication app_box">
					<img src="{{ media }}" />
					<p>{{ descripcion }}</p>
					<div class="rating">
						<p>
							<span class="glyphicon glyphicon-heart-empty like_icon"
								aria-hidden="true"></span><span class="rating-value">5</span>
						</p>
					</div>
					<div class="tag_component">
						<span class="tag"><span class="glyphicon glyphicon-remove"
							aria-hidden="true"></span>escultura</span> <span class="tag"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span>fotografía</span>
						<span class="tag"><span class="glyphicon glyphicon-remove"
							aria-hidden="true"></span>dibujo</span>
					</div>
				</div>
			{{/publicaciones}}
			</div>
		</div>
	</article>
</body>
</html>