<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BOART - Perfil Privado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/private_profile.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/private_profile.js"></script>
</head>

<body>
    {{> header_component}}
<article class="container-fluid">
{{#usuario}}
    <div class="col-xs-12 app_box user_profile">
        <div class="col-xs-12 col-sm-4">
            <div class="row user_info box_signup">
                <div class="col-xs-12">
		           	<form action="/edit_profile" method="POST"  enctype="multipart/form-data">
			           	<div class="col-xs-5">
			           		<img class="img-responsive" src="{{img}}" WIDTH="100%" id="avatar">
							<input class="edit_profile" type="file" id="inputFile"  name="inputFile" style="display:none" />	
			           		
			           	</div>
			           	<div class="col-xs-7">
			           	<div class="input-group col-xs-12 edit-icon">
			            	<input class="edit_profile" disabled="disabled" type="text" name="name" placeholder="Nombre:" value="{{name}}"/>
						    <div class="input-group-btn">
		    					<i class="icofont icofont-pencil-alt-5"></i>
		  				    </div>
						</div>
						<div class="input-group col-xs-12 edit-icon">
			            	<input class="edit_profile" disabled="disabled" type="text" name="surname" placeholder="Apellidos:" value="{{surname}}"/>
						    <div class="input-group-btn">
	    						<i class="icofont icofont-pencil-alt-5"></i>
		  				    </div>
						</div>
						<div class="input-group col-xs-12 edit-icon">
			            	<input class="edit_profile" disabled="disabled" type="text" name="username" placeholder="Usuario:" value="{{username}}"/>
						    <div class="input-group-btn">
		    					<i class="icofont icofont-pencil-alt-5"></i>
		  				    </div>
						</div>
						<div class="input-group col-xs-12 edit-icon">
			            	<input class="edit_profile" disabled="disabled" type="text" name="password" placeholder="Contraseña" />
						    <div class="input-group-btn">
		    					<i class="icofont icofont-pencil-alt-5"></i>
		  				    </div>
						</div>
						</div>
						<div class="input-group col-xs-12 edit-icon">
			            	<input class="edit_profile" disabled="disabled" type="text" name="description" placeholder="Usuario:" value="{{description}}"/>
						    <div class="input-group-btn">
		    					<i class="icofont icofont-pencil-alt-5"></i>
		  				    </div>
						</div>
						
						<input type="hidden" name="_csrf" value="{{token}}" />
						<input type="hidden" name="id" value="{{id}}" />
			            <input class="send_form" disabled="disabled" type="submit" placeholder="SUBMIT"/>
		          	</form>
                </div>
                
                <div class="col-xs-12 follow_list">
                	<h2>Following:</h2>
                	{{#followings}}
                	<ul>
                		<li>{{username}}</li>
                	</ul>
                	{{/followings}}
                </div>
               
                <div class="col-xs-12 follow_list">
                	<h2>Followers:</h2>
                	{{#followers}}
                	<ul>
                		<li>{{username}}</li>
                	</ul>
               		{{/followers}}
                </div>
                {{#groups}}
                <div class="col-xs-12">
                    <h2 class="">GRUPOS</h2>
                    <div class="col-xs-12">
                        <blockquote class="edit-icon"><em><a href="/group/{{id}}">{{title}}</a></em></blockquote>
                    </div>
                </div>
                {{/groups}}
                <div class="col-xs-12 social_nets ">
                    <i class="icofont icofont_social icofont-social-500px "></i>
                    <i class="icofont icofont_social icofont-social-facebook "></i>
                    <i class="icofont icofont_social icofont-social-twitter "></i>
                    <i class="icofont icofont_social icofont-social-instagram "></i>
                    <i class="icofont icofont_social icofont-social-linkedin "></i>
                    <i class="icofont icofont_social icofont-social-youtube-play "></i>
                </div>
                <div class="col-xs-12 public_button ">
                    <a class="custom_button " href="./public_profile/{{username}}">Ver perfil público</a>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-8 profile_gallery ">
            {{#gallery}}
            <div class="publication app_box edit-gallery ">
                {{{media}}}
                <div class="veil ">
                    <i class="icofont icofont-pencil-alt-5 "></i>
                </div>
            </div>
            {{/gallery}}
        </div>
    </div>
{{/usuario}}
</article>
{{> footer_component}}
</body>

</html>
