<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BOART - Publicación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/publication.css">
    <script type="text/javascript" src="../js/main.js"></script>
</head>

<body>
    {{> header_component}}
    <article class="container-fluid">
	{{#publication}}
        <div class="col-xs-12 col-sm-4 app_box user_wrapper">
            <img class="img-responsive" src="{{user.img}}">
            <h2 class="user"><a href="/public_profile/{{user.username}}">@{{user.username}}</a></h2>
            <div class="share_publication">
                <a href="#"><i class="icofont icofont_social icofont-social-twitter"></i></a>
                <a href="#"><i class="icofont icofont_social icofont-social-facebook"></i></a>
                <a href="#"><i class="icofont icofont_social icofont-social-google-plus"></i></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 app_box publication_wrapper">

            <h1 class="title">{{title}}</h1>
            <h3 class="description">{{description}}</h3>
            {{{media}}}
            	{{> taglist_component}}
            	
            {{#canDelete}}
		  		<form action="/publication/delete" method="POST" class="delete_publication">
		            <input type="hidden" name="idPublication" value="{{id}}" />
		            <input type="hidden" name="_csrf" value="{{token}}" />
		            <div>
		            	<label>Eliminar publicación: </label><input type="submit" value="Eliminar"/>
		            </div>
		        </form>
			{{/canDelete}}
        {{> comments_component}}
    {{/publication}}
    </article>
    {{> footer_component}}
</body>

</html>
