<div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 box_sign">
        <div class="box_signin app_box">
          <i class="icofont icofont-lock"></i>
          <form action="/login" method="POST" >
            <input type="text" name="username" placeholder='Usuario:'/>
            <input type="password" name="password" placeholder='Contraseña:'/>
            <input type="hidden" name="_csrf" value="{{token}}" />
            
            <input type='submit' placeholder='SUBMIT'/>
          </form>
        </div>
        <div class="box_signup app_box">
          <i class="icofont icofont-user"></i>
          <form action="#" th:action="@{/register}" th:object="${usuario}" method="POST">
            <input type="text" th:field="*{name}" placeholder="Nombre:"/>
            <input type="text" th:field="*{surname}" placeholder="Apellidos:"/>
            <input type="text" th:field="*{username}" placeholder="Usuario:"/>
            <input type="password" th:field="*{password}" placeholder="Contraseña:"/>
            <input type="hidden" name="_csrf" value="{{token}}" />
            <input type='submit' placeholder='SUBMIT'/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>