@import "../../../assets/_variables";

.tag_component{
  margin: 10px 0px;
  .tag{
    background-color: $background-header;
    color: $black-color;
    font-size: 0.70em;
    display: inline-block;
    padding: 1px 5px;
    cursor: pointer;
    &:hover{
      background-color: $background-publication;
      border: 1px solid $background-header;
    }
    .glyphicon{
      padding-right: 5px;
      font-size: 0.8em;
    }
  }
}
